ion-label {
    max-width: 100% !important;
}
.container {
    width: 100%;
    padding-right: 15px;
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
div {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.head-list {
    font-size: 14px;
    padding: 8px;
    color: white;
}