<ion-header>
  <ion-toolbar>
    <ion-img class="img-logo-nav" src='../../assets/logo.jpeg'></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full" color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="remove-margin">Detalhe da Cirurgia</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="size-details"><span class="txt-details">Agendamento: </span>{{agendamento}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="size-details"><span class="txt-details">Data: </span>{{data}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="size-details"><span class="txt-details">Hora: </span>{{hora}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="size-details"><span class="txt-details">Hospital: </span>{{hospital}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="size-details"><span class="txt-details">Médico: </span>{{medico}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="size-details"><span class="txt-details">Convênio: </span>{{convenio}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="size-details"><span class="txt-details">Paciente: </span>{{paciente}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="size-details"><span class="txt-details">Cirurgia: </span>{{cirurgia}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <h5 class="remove-margin txt-blue-jdr negrito">Inlcuir observações</h5>
        </ion-col>
        <ion-col size="3">
          <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()" color="primary" type="ios"></ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea class="border" disabled placeholder="Escreva a observação aqui...">
          </ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  

</ion-content>
