<ion-header>
  <ion-toolbar>
    <ion-img class="img-logo-nav" src='../../assets/logo.jpeg'></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full" color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="remove-margin">Lista de Materiais Enviados</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col class="approach-line">
          <ion-label class="size-details"><span class="txt-details">Agendamento: </span>{{agendamento}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="approach-line">
          <ion-label class="size-details"><span class="txt-details">Data: </span>{{data}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="approach-line">
          <ion-label class="size-details"><span class="txt-details">Hospital: </span>{{hospital}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="approach-line">
          <ion-label class="size-details"><span class="txt-details">Médico: </span>{{medico}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="approach-line">
          <ion-label class="size-details"><span class="txt-details">Convênio: </span>{{convenio}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="approach-line">
          <ion-label class="size-details"><span class="txt-details">Paciente: </span>{{paciente}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="approach-line">
          <ion-label class="size-details"><span class="txt-details">Cirurgia: </span>{{cirurgia}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div class="container">
    <div class="row border-0 bg-src">
      <div class="col-4 ion-text-center">
        <label class="head-list">Produto</label>
      </div>
      <div class="col-6 ion-text-center">
        <label class="head-list">Descrição</label>
      </div>
      <div class="col-2 ion-text-center">
        <label class="head-list">Qtd</label>
      </div>
    </div>
    <div class="row border touch-space" *ngFor="let item of conteudo" lines="full">
      <div class="col-4 ion-text-center vertically-center">
        <label class="txt-14">{{item['produto']}}</label>
      </div>
      <div class="col-6 ion-text-center vertically-center">
        <label class="txt-14">{{item['descricao']}}</label>
      </div>
      <div class="col-2 ion-text-center vertically-center">
        <label class="txt-14">{{item['qtd']}}</label>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="finalizar()" expand="full" color="danger">Finalizar cirurgia</ion-button>
</ion-footer>
