<!-- <ion-header>
  <ion-toolbar>
    <ion-img class="img-logo-nav" src='../../assets/logo.jpeg'></ion-img>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <!-- Cabeçalho da página -->
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img class="logo" src='../../assets/jdr-news.png'>
      </ion-col>
      <ion-col size="12">
        <ion-label class="title">Cotações</ion-label>
        <ion-label class="subtitle">Médico: {{medico}}</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-searchbar class="" (ionChange)="onSearchTerm($event)" placeholder="Procure pelo paciente" showCancelButton="focus"></ion-searchbar>
      </ion-col>
    </ion-row>
    <!-- Conteúdo da página -->
    <!-- Cabeçalho da tabela -->
    <ion-row class="list-head">
      <ion-col size="1" class="ion-text-center">
        <ion-icon color="light" name="arrow-dropright-circle"></ion-icon>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-label class="subtitle" color="light">Paciente</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-label class="subtitle" color="light">Hospital</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-label class="subtitle" color="light">Total</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-label class="subtitle" color="light">Cotações</ion-label>
      </ion-col>
    </ion-row>
    <!-- Conteúdo da tabela -->
    <div class="list-content">
      <ion-row *ngFor="let pacient of pacientes" [class]="pacient == lastPacient ? 'no-line' : 'line'" (click)="proximo(pacient.num_cotacao)">
        <ion-col size="1" class="ion-text-center">
          <ion-icon [color]="pacient.status == 0 ? 'danger' : 'success' " name="arrow-dropright-circle"></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-label class="subtitle">{{pacient.paciente}}</ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-label class="subtitle">{{pacient.cliente}}</ion-label>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-label class="subtitle">{{pacient.valor_total}}</ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-label class="subtitle">{{pacient.num_cotacao}}</ion-label>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-button class="btn-jdr" (click)="voltar()" expand="block">Voltar</ion-button>
</ion-footer>
