<ion-header>
  <ion-toolbar>
    <ion-img class="img-logo-nav" src='../../assets/logo.jpeg'></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full" color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="remove-margin">Calendário de Cirurgias</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Funcionário: {{funcionario}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div class="container">
    <div class="row border-0 bg-src">
      <div class="col-6 ion-text-center">
        <label class="head-list">Data</label>
      </div>
      <div class="col-6 ion-text-center">
        <label class="head-list">Qtd de Cirurgias</label>
      </div>
    </div>
    <div class="row border touch-space" *ngFor="let item of conteudo" lines="full" (click)="proximo()">
      <div class="col-6 ion-text-center vertically-center">
        <label>{{item['data']}}</label>
      </div>
      <div class="col-6 ion-text-center vertically-center">
        <label>{{item['qtd']}}</label>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="voltar()" expand="full">Voltar</ion-button>
</ion-footer>
