/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/* Tamanho da logo nas telas */
.logo {
    width: 35%;
    max-width: 35%;
}
/* Propriedades do título */
.title {
    text-transform: uppercase;
    color: #273258;
    font-weight: bold;
    font-size: 20px;
    display: block;
}
/* Propriedades do subtitulo */
.subtitle {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #273258;
}



.img-logo-nav{
    width: 40%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}
.bg-src{
    background-color: #414199;
}
.txt-blue-jdr{
    color: #414199;
}
.padding-row{
    padding-bottom: 3%;
}
.margin-grid{
    padding: 0;
    padding-left: 2px !important;
}
.icon-center{
    align-items: center;
    align-content: center;
    display: flex;
    margin: 0;
    height: 100%;
}
.listP{
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 12px !important;
}
.listT{
    font-size: 13px !important;
    color: white;
}
.titulo{
    text-align:center;
    font-size: 15px !important;
    margin: 10 8 10 0 !important;
}
ion-item ion-label{
    font-size: 15px;
}
.touch-space {
    height: 55px;
}
.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    padding-left: unset;
    -webkit-padding-start: 30px;
    padding-inline-start: 30px;
    --background: white;
}
label {
    display: inline-block;
    margin-bottom: 0.3rem !important;
}
.vertically-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}
.remove-margin {
    margin: 0;
}
.txt-details{
    font-weight: bold;
    color: #414199;
}
.negrito {
    font-weight: bold;
}
.padding-btn {
    padding: 20px;
}
.btn-row {
    height: 63px !important;

    ion-button {
        height: 44px !important;
    }
}
.approach-line {
    padding: 0px 0px 0px 5px;
}
.head-list {
    font-size: 18px;
    padding: 8px;
    color: white;
}
.txt-14 {
    font-size: 14px;
}