/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.img-logo-nav{
    width: 30%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}
.bg-src{
    background-color: #414199;
}
.txt-blue-jdr{
    color: #414199;
}
.padding-row{
    padding-bottom: 3%;
}
.margin-grid{
    padding: 0;
    padding-left: 2px !important;
}
.icon-center{
    align-items: center;
    align-content: center;
    display: flex;
    margin: 0;
    height: 100%;
}
.listP{
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 12px !important;
}
.listT{
    font-size: 13px !important;
    color: white;
}
.titulo{
    text-align:center;
    font-size: 15px !important;
    margin: 10 8 10 0 !important;
}
ion-item ion-label{
    font-size: 15px;
}
.touch-space {
    height: 55px;
}
.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    padding-left: unset;
    -webkit-padding-start: 30px;
    padding-inline-start: 30px;
    --background: white;
}
label {
    display: inline-block;
    margin-bottom: 0.3rem !important;
}
.vertically-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}
.remove-margin {
    margin: 0;
}
.txt-details{
    font-weight: bold;
    color: #414199;
}
.negrito {
    font-weight: bold;
}
.padding-btn {
    padding: 20px;
}
.btn-row {
    height: 63px !important;

    ion-button {
        height: 44px !important;
    }
}